body, html {
	margin: 0;
	padding: 0;
	background: #FFF;
	line-height: 1.5;
	color: #333;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }

p { margin: 2em 0; }

a { color: #2ecc71; }

nav { width: 100%; background-color: #2ecc71; }

.container { max-width: 750px; margin: 0 auto; }

.header {
	background: #2c3e50;
	padding: 3em 0;
	text-align: center;
	color: #FFF;
}

.navbar { 
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

.navbar__item {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
}

.navbar__item a {
	color: #FFF;
	text-decoration: none;
}

.is--active { background: rgba(0,0,0,0.2); }

.btn {
	width: 100px;
	margin: 0 auto;
	border-radius: 5px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	display: block;
}

.btn--primary { background: #e74c3c; }
.btn--secondary{ background: #3498db; }